*{
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    font-family: 'Patrick Hand', cursive;
}
.title-section {
    display: flex;
    justify-content: center;
    height: 50vh;
}
h1{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 6rem;
    transition: 0.2s;
    background-color: rgba(240, 248, 255, 0);
}
h1:hover{
    transform: translateY(7px);
    text-decoration: underline;
    text-decoration-color: rgb(0, 238, 255); 
}
p{
    color: white;
    font-family: 'Patrick Hand', cursive;
    position: relative;
    height: 0%;
    font-size: 1.1rem;
}
.buttons-container {
    justify-content: center;
    margin-left: 0;
    height: 50vh;
}
.spec{
    height: 20vh;
    margin-left: 10vh;
}
button {
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
    margin: 0px;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    height: 20vh;
}
button:hover {
    transform: translateY(5px);
    text-decoration: underline;
    text-decoration-color: rgb(0, 238, 255);
}
.starting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    height: max-content;
}
#buttonstart {
    display: block;
    margin-top: 10vh;
}
#startarrow {
    width: 15vh;
    height: 15vh;
    margin: 0;
    margin-top: -600px;
}
.speciality-section {
    height: 100vh;
}
h2{
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 6rem;
    transition: 0.5s;
    background-color: rgba(240, 248, 255, 0);
}
img{
    width: 50% ;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#amc{
    background-color: rgb(33, 145, 153);
    position: relative;
}
#h2amc{
    color: rgb(255, 255, 255);;
    background-color: rgb(36, 36, 36);
    height: 15%;
    margin: 20vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
#pamc{
    margin-right: 30px;
    margin-left: 30px;
}
#nextamc{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}
#nextamc:hover{
    text-decoration-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -40%);
}

#maths{
    background-color: rgb(36, 36, 36);
    position: relative;
}
#h2maths{
    height: 15%;
    margin: 20vh;
    text-align: center;
}
#nextmaths{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    text-decoration-color: rgb(33, 145, 153);
}
#nextmaths:hover{
    text-decoration-color: rgba(36, 36, 36, 0);
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -40%);
}
#imgmaths{
    background-color: beige;
}
#nsi{
    background-color: beige;
    position: relative;
}
#h2nsi{
    color: black;
    text-align: center;
    height: 15%;
}
#pnsi{
    color: black;
    margin-right: 30px;
    margin-left: 30px;
}
#retour{
    color: black;
    text-decoration-color: rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
}
#retour:hover{
    transform: translate(-50%, -90%);
}
#imgReturn{
    background-color: beige;
    transform: rotate(180deg);
}
  body::-webkit-scrollbar {
    width: 12px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
  }
  body::-webkit-scrollbar-track {
    background-color: rgba(36, 36, 36, 0);
  }
  body {
    scrollbar-width: thin;
  }
  body {
    scrollbar-color: #808080 rgba(36, 36, 36, 0);
  }

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@media only screen and (max-width: 767px) {
    h1, h2 {
      font-size: 1.8rem;
    }
    .buttons-container {
        justify-content: center;
        margin-left: 5vh;
    }
    #pamc{
        margin-top: -80px;
    }
    #pmaths{
        margin-top: -80px;
    }
    #pnsi{
        margin-top: 40px;
    }
    #retour:hover{
        font-size: 1.5rem;
    }
    #retour{
        font-size: 1.5rem;
    }
  }