@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@300 & display=swap');
@font-face {
  font-family: 'MADE TOMMY Bold_PERSONAL USE';
  src: url('./MADE TOMMY Bold_PERSONAL USE.otf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    background-image: url(./banniere_boombot.png);
    background-position: center;
    padding-top: 50px;
}
header {
    display:contents;
  align-items: center;

  
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
 margin-bottom: -5px;
  }
  
 
  h1 {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
    font-family:'MADE TOMMY Bold_PERSONAL USE', Tahoma, Geneva, Verdana, sans-serif;
   padding-top: 50px;
    background-color: #292929;
    background: linear-gradient(to bottom, #292929, rgba(255, 204, 0, 0));
  
  }
  footer {
    background: transparent;
    color: #ffffff;
  }
  nav {
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    background-color: #ff9900;
    color: #fff;
    box-shadow: 0px 0px 10px #ff9900;
  }
  ::selection {
    background-color: #ff9900;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #292929;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff9900;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #977609;
  }
  
 
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid #ff9900;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    animation: Box 2s linear 0s 1 normal none;
    margin-top: -230px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
 
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #ff9900;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.p {
position: fixed;
margin-top: 50vh;
justify-content: left;
}
body {
  background: url('./meteo-semaine-nord-pas-calais.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
@keyframes Box {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}
