/* Réinitialisation des marges et des rembourrages */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display:flex
}

nav ul li {
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-card {
    background-color: #f0f0f0;
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

/* Réglages responsives */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo img {
        margin: 20px auto;
    }

    nav ul {
        margin-top: 10px;
        justify-content: center;
    }

    nav ul li {
        margin-right: 15px;
    }

    .section-card {
        width: 100%;
        margin: 10px 0;
    }
}
